* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    height: 100vh;
}

header {
    grid-row: 1 / 6;
}

.option-search {
    grid-column: 2 / 6;
    width: 100%;
}

.search-row {
    display: flex;
    justify-content: space-between;
}

.search-right {
    display: flex;
    justify-content: space-around;
}

.content {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
}